:root {
  --clr-font-light: rgb(50, 50, 50);
  --clr-font-dark: rgb(255, 255, 255);
  --clr-note-meta-light: rgb(128, 128, 128);
  --clr-note-meta-dark: rgb(154, 152, 156);
  --clr-note-meta-selected-light: rgb(107, 95, 62);
  --clr-note-meta-selected-dark: rgb(224, 209, 171);
  --clr-icons-light: rgb(107, 107, 107);
  --clr-icons-dark: rgb(151, 150, 153);
  --clr-accent-light: rgb(255, 215, 105);
  --clr-accent-light-dimmed: rgb(215, 215, 215);
  --clr-accent-dark: rgb(168, 132, 41);
  --clr-accent-dark-dimmed: rgb(61, 61, 61);
  --clr-note-divider-light: rgb(230, 230, 230);
  --clr-note-divider-dark: rgb(53, 48, 57);
  --clr-no-notes-light: rgb(187, 187, 187);
  --clr-no-notes-dark: rgb(86, 83, 90);
  --clr-bg-light: rgb(255, 255, 255);
  --clr-bg-topbar-light: rgb(243, 240, 246);
  --clr-bg-topbar-dark: rgb(54, 51, 56);
  --clr-bg-editor-dark: rgb(30, 30, 30);
  --clr-bg-sidebar-dark: rgb(31, 26, 36);
  --clr-bg-sidebar-divider-light: rgb(230, 230, 230);
  --clr-bg-sidebar-divider-dark: rgb(0, 0, 1);
  --clr-bg-topbar-divider-light: rgb(217, 217, 217);
  --clr-bg-topbar-divider-dark: rgb(0, 0, 1);
  --clr-selected-light: rgb(215, 215, 215);
  --clr-selected-dark: rgb(61, 61, 61);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.main {
  display: flex;
  color: var(--clr-font-light);
}

.page-wrapper.dark {
  color: var(--clr-font-dark);
}


/* SIDEBAR */

.sidebar {
  background-color: var(--clr-bg-light);
  max-width: 265px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  /* removing scrollbars (IE 10+, Firefox) */
  -ms-overflow-style: none;
  scrollbar-width: none;
  border-right: 1px solid var(--clr-bg-sidebar-divider-light);
}

/* removing scrollbars (Safari, Chrome) */
.sidebar::-webkit-scrollbar {
  display: none;
}

.page-wrapper.dark .sidebar {
  background-color: var(--clr-bg-sidebar-dark);
  border-right: 1px solid var(--clr-bg-sidebar-divider-dark);
}

.topbar-create-note {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-bg-topbar-light);
  padding: 15px 10px 15px 10px;
  border-right: 1px solid var(--clr-bg-topbar-divider-light);
  border-bottom: 1px solid var(--clr-bg-topbar-divider-light);
}

.page-wrapper.dark .topbar-create-note {
  background-color: var(--clr-bg-topbar-dark);
  border-right: 1px solid var(--clr-bg-topbar-divider-dark);
  border-bottom: 1px solid var(--clr-bg-topbar-divider-dark);
}

.add-note {
  font-family: inherit;
  font-weight: 400; 
  font-size: 1.1rem;
  color: var(--clr-font-light);
  background-color: var(--clr-accent-light);
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

.add-note:hover, .topbar-icon:hover {
  cursor: pointer;
}

.page-wrapper.dark .add-note {
  color: var(--clr-font-dark);
  background-color: var(--clr-accent-dark);
}

.no-notes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  color: var(--clr-no-notes-light);
}

.page-wrapper.dark .no-notes {
  color: var(--clr-no-notes-dark);
}

.sidebar-notes-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 30px 10px 30px 10px;
  background-color: var(--clr-bg-light);
}

.page-wrapper.dark .sidebar-notes-list {
  background-color: var(--clr-bg-sidebar-dark);
}

.note {
  width: 100%;
  border-radius: 5px;
  padding-left: 25px;
  padding-right: 12px;
}

.note.selected {
  background-color: var(--clr-accent-light);
}

.page-wrapper.dark .note.selected {
  background-color: var(--clr-accent-dark);
}

.note-inside {
  margin: 0 auto;
  height: 100%;
  padding: 6px 0;
  overflow: hidden;
  border-bottom: 1px solid var(--clr-note-divider-light);
}

.page-wrapper.dark .note-inside {
  border-bottom: 1px solid var(--clr-note-divider-dark);
}

.note:last-child .note-inside {
  border-bottom: none;
}

.note.selected .note-inside,
.note.above-selected .note-inside {
  border: none;
  padding-bottom: 7px;
}

.note-title, .note-date, .note-snippet {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.note-title {
  font-weight: 600;
  font-size: 0.95rem;
}

.page-wrapper.dark .note-title {
  color: var(--clr-font-dark);
}

.note-date, .note-snippet {
  font-size: 0.8rem;
  color: var(--clr-note-meta-light)
}

.note.selected .note-date,
.note.selected .note-snippet {
  color: var(--clr-note-meta-selected-light);
}

.page-wrapper.dark .note-date,
.page-wrapper.dark .note-snippet {
  color: var(--clr-note-meta-dark);
}

.page-wrapper.dark .note.selected .note-date,
.page-wrapper.dark .note.selected .note-snippet {
  color: var(--clr-note-meta-selected-dark);
}


/* EDITOR */

.editor {
  padding: 10px;
  font-size: 1.4rem;
  font-family: inherit;
  max-width: 100%;
  width: 100%;
  height: calc(100vh - 72px);
  outline: none;
  border: none;
  resize: none;
}

.page-wrapper.dark .editor,
.page-wrapper.dark .editor-textarea {
  background-color: var(--clr-bg-editor-dark);
  color: var(--clr-font-dark);
}

/* TOPBAR */

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 72px;
  background-color: var(--clr-bg-topbar-light);
  border-bottom: 1px solid var(--clr-bg-topbar-divider-light);
}

.page-wrapper.dark .topbar {
  background-color: var(--clr-bg-topbar-dark);
  border-bottom: 1px solid var(--clr-bg-topbar-divider-dark);
}

#topbar-create-note-section {
  display: flex;
  justify-content: space-between;
  max-width: 265px;
  width: 100%;
}

#topbar-buttons-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.dark-mode {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--clr-icons-light);
}

.dark-mode:hover {
  cursor: pointer;
}

.page-wrapper.dark .dark-mode {
  color: var(--clr-icons-dark);
}

.dark-mode-switch {
  position: relative;
  padding: 0 2px;
  border: 1px solid var(--clr-icons-light);
  border-radius: 30px;
  width: 40px;
  height: 26px;
}

.dark-mode-switch-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-85%, -50%);
  transition: 200ms;
  width: 20px;
  height: 20px;
  border: 1px solid var(--clr-icons-light);
  border-radius: 30px;
  background-color: var(--clr-icons-light);
}

.page-wrapper.dark .dark-mode-switch-circle {
  top: 50%;
  transition: 200ms;
  transform: translate(-15%, -50%);
  background-color: var(--clr-accent-dark);
}

.topbar-icon { 
  color: var(--clr-icons-light);
  height: 22px;
  width: 22px;
}

.page-wrapper.dark .topbar-icon {
  color: var(--clr-icons-dark);
}

@media all and (min-width: 550px) {
  
}